<div class="d-flex justify-content-center"><h1>Single & Double Bed's</h1></div>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="../assets/Beds/bed2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$ 99</h5>
              <p class="card-text">Double bed with dark shade blanket, give senseational look to your bedroom.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets/Beds/bed3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$ 150</h5>
              <p class="card-text">Pinkasesthetic double bed to lighten up your mood.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets/Beds/bed4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$ 200</h5>
              <p class="card-text">Double bed for your king size bedroom</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
        <div class="col">
          <div class="card h-100">
            <img src="assets/Beds/bed5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$ 50</h5>
              <p class="card-text">Affordable double bed with white shades and pillows.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets/Beds/bed6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$ 60</h5>
              <p class="card-text">Minimalistic look single bed for your bedroom.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets/Beds/bed7.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$ 70</h5>
              <p class="card-text">Affordable double bed for your bedroom with minimal look.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-black mt-5 mx-5 " style="height: 2px;"></div>
      <div class="d-flex justify-content-center mt-5"><h1>Wardrobe Closet's</h1></div>
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
        <div class="col">
          <div class="card h-100">
            <img src="assets/Wardrobes/wb.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$ 200</h5>
              <p class="card-text">Premium wardrobe with premium material for your collection</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets/Wardrobes/wb2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$ 170</h5>
              <p class="card-text">Wardrobe for your office or commercial property.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets/Wardrobes/wb3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$ 130</h5>
              <p class="card-text">Affordable wardrobe for your office or big propety.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
        <div class="col">
          <div class="card h-100">
            <img src="assets/Wardrobes/wb4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$ 200</h5>
              <p class="card-text">Premium wardrobe for your bedroom for great look.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets/Wardrobes/wb5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$ 170</h5>
              <p class="card-text">Give your beedroom premium yet minimal look.</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="assets/Wardrobes/wb6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">$ 150</h5>
              <p class="card-text">Affordable yet big wardrobe for your bedroom</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Last updated 3 mins ago</small>
            </div>
          </div>
        </div>
      </div>